.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

.card{
    margin: 15px;
    width: 250px;
    height: 345px;
    box-shadow: 2px 2px 4px 3px rgba(142, 57, 168, 0.3);
    overflow-wrap: break-word;
    overflow-y: hidden;
    border-radius: 10px;
    padding: 10px 15px;
    text-align: center;
}
.card .cardheader{
    display: flex;
    justify-content: center;
}
.cardheader button{
    background-color: white;
    border: none;
    cursor: pointer;
}

.cardimg{
    width: 80%;
    margin: 0 auto;
    height: 140px;
}

.cardimg img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}
.card h3{
    text-transform: capitalize;
    color: black;
    font-weight: 200;
    text-decoration: none;
}
.card p{
   color: black;
}